
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}



.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


input {
    padding: 8px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    background-color: #0056b3;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

/* Buttons */
.task-buttons {
    display: flex;
    gap: 10px;
}

.complete-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.complete-btn:hover {
    
    background-color: rgb(118, 250, 118);
}

.delete-btn:hover {
    
    background-color: rgb(244, 67, 67);
}

.spanclass{
    margin-left: 5px; /* use dash, not camelCase */
    background-color: #007bff;
}

